<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>775250635555-8dmt167t58068vg687n4f237mt1at5nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775250635555-8dmt167t58068vg687n4f237mt1at5nr</string>
	<key>API_KEY</key>
	<string>AIzaSyDM06Of_UstE9ifA0hQ10DOUvET4bmVVSw</string>
	<key>GCM_SENDER_ID</key>
	<string>775250635555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtsay.firstsecond</string>
	<key>PROJECT_ID</key>
	<string>first-second-1be39</string>
	<key>STORAGE_BUCKET</key>
	<string>first-second-1be39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:775250635555:ios:f781838a01f957e7</string>
	<key>DATABASE_URL</key>
	<string>https://first-second-1be39.firebaseio.com</string>
</dict>
</plist>